BEGIN;
--
-- Create model Field
--
CREATE TABLE "document_automation_field" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "label" varchar(255) NOT NULL, "placeholder_key" varchar(100) NOT NULL UNIQUE, "data_type" varchar(50) NOT NULL, "group_name" varchar(100) NOT NULL, "is_active" boolean NOT NULL);
--
-- Create model Person
--
CREATE TABLE "document_automation_person" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name_for_display" varchar(255) NOT NULL);
--
-- Create model LoanProfile
--
CREATE TABLE "document_automation_loanprofile" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "name" varchar(255) NOT NULL, "created_by_user_id" integer NULL);
--
-- Create model LoanProfilePerson
--
CREATE TABLE "document_automation_loanprofileperson" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "roles" jsonb NOT NULL, "loan_profile_id" bigint NOT NULL, "person_id" bigint NOT NULL);
--
-- Create model FieldValue
--
CREATE TABLE "document_automation_fieldvalue" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "value" text NOT NULL, "field_id" bigint NOT NULL, "loan_profile_id" bigint NOT NULL, "person_id" bigint NULL);
CREATE INDEX "document_automation_field_placeholder_key_30ac150e_like" ON "document_automation_field" ("placeholder_key" varchar_pattern_ops);
ALTER TABLE "document_automation_loanprofile" ADD CONSTRAINT "document_automation__created_by_user_id_a9dbe784_fk_auth_user" FOREIGN KEY ("created_by_user_id") REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "document_automation_loanprofile_created_by_user_id_a9dbe784" ON "document_automation_loanprofile" ("created_by_user_id");
ALTER TABLE "document_automation_loanprofileperson" ADD CONSTRAINT "document_automation_loan_loan_profile_id_person_i_18cbb778_uniq" UNIQUE ("loan_profile_id", "person_id");
ALTER TABLE "document_automation_loanprofileperson" ADD CONSTRAINT "document_automation__loan_profile_id_295fed59_fk_document_" FOREIGN KEY ("loan_profile_id") REFERENCES "document_automation_loanprofile" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "document_automation_loanprofileperson" ADD CONSTRAINT "document_automation__person_id_4f56dd88_fk_document_" FOREIGN KEY ("person_id") REFERENCES "document_automation_person" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "document_automation_loanprofileperson_loan_profile_id_295fed59" ON "document_automation_loanprofileperson" ("loan_profile_id");
CREATE INDEX "document_automation_loanprofileperson_person_id_4f56dd88" ON "document_automation_loanprofileperson" ("person_id");
ALTER TABLE "document_automation_fieldvalue" ADD CONSTRAINT "document_automation_fiel_loan_profile_id_person_i_5cfc66c8_uniq" UNIQUE ("loan_profile_id", "person_id", "field_id");
ALTER TABLE "document_automation_fieldvalue" ADD CONSTRAINT "document_automation__field_id_eb0ebc9b_fk_document_" FOREIGN KEY ("field_id") REFERENCES "document_automation_field" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "document_automation_fieldvalue" ADD CONSTRAINT "document_automation__loan_profile_id_fb78d351_fk_document_" FOREIGN KEY ("loan_profile_id") REFERENCES "document_automation_loanprofile" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "document_automation_fieldvalue" ADD CONSTRAINT "document_automation__person_id_c31acca2_fk_document_" FOREIGN KEY ("person_id") REFERENCES "document_automation_person" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "document_automation_fieldvalue_field_id_eb0ebc9b" ON "document_automation_fieldvalue" ("field_id");
CREATE INDEX "document_automation_fieldvalue_loan_profile_id_fb78d351" ON "document_automation_fieldvalue" ("loan_profile_id");
CREATE INDEX "document_automation_fieldvalue_person_id_c31acca2" ON "document_automation_fieldvalue" ("person_id");
COMMIT;
